#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.text-container {
  @media (max-width: 900px) {
    display: flex;
    overflow: auto;
    p {
      display: block;
    }
  }
}