html {
    scroll-snap-type: y mandatory;
}

.img-container {
    color: #333;
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container>div {
    margin: 20px;
    padding: 1em;
    background: #fffbff;
    overflow: hidden;
}

.img-container img {
    width: 100%;
    height: 100%;
}

.img-container h2 {
    margin: 0;
    font-size: 50px;
    font-weight: 500;
    letter-spacing: -3px;
    line-height: 1.2;
    display: inline-block;
    top: calc(50% - 25px);
    left: calc(50% + 120px);
}

#intro h2 {
    color: #333;
}

.progress {
    position: fixed;
    left: 0;
    right: 0;
    height: 5px;
    background: var(--accent);
    bottom: 50px;
    transform: scaleX(0);
}